[tools]
protoc = "latest"
uv = "0.9"

[tasks.generate_proto]
description = "Generate Python code from Protobuf files"
run = """
protoc \
  --python_out=damage_panel_tracking/domain/proto \
  --pyi_out=damage_panel_tracking/domain/proto \
  --proto_path=utils/proto \
  $(find utils/proto -name "*.proto")
touch damage_panel_tracking/__init__.py damage_panel_tracking/domain/__init__.py damage_panel_tracking/domain/proto/__init__.py
"""
sources = ["utils/proto/**/*.proto"]
outputs = ["damage_panel_tracking/domain/proto/**/*.py*"]

[tasks.deps]
alias = "build"
description = "Install dependencies and generate code"
depends = ["generate_proto"]
run = "uv sync"
sources = [
  "pyproject.toml",
  "uv.lock",
]
outputs = { auto = true }
