[tools]
buf = "latest"
protoc = "latest"
uv = "0.9"

[tasks.generate_proto]
description = "Generate Python code from Protobuf files"
run = "buf generate"
sources = ["utils/proto/**/*.proto"]
outputs = ["msg/src/roboapp/*.py", "msg/src/roboapp/*.pyi"]

[tasks.deps]
alias = "build"
description = "Install dependencies and generate code"
depends = ["generate_proto"]
run = "uv sync"
sources = [
  "pyproject.toml",
  "uv.lock",
]
outputs = { auto = true }

[tasks.start]
depends = ["deps"]
description = "Start the damage panel recognition CLI"
run = "uv run python3 damage_panel_recog_and_tracking.py"
